{%extends 'index.html'%}
{%block content%}
<center>
    <form method="POST" class="layout_padding">
        {%csrf_token%}
        <label>User Name:</label>
        <input type="text" class="btn btn-outline-secondary" name="Username" />
        </br>
        </br>
        <label>Password:</label>
        <input type="password" class="btn btn-outline-secondary" name="Password" />
        <br>
        <br>
        <input type="submit" class="btn btn-outline-secondary" value="Login">
    </form>
</center>
{%endblock%}