{%extends 'index.html'%}

{%block nav-item%}
    <li class="nav-item">
        <a class="nav-link" href="{%url 'home'%}">Home</a>
    </li>
    {%if request.session.userid %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'myprofile'%}">profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'mybooks'%}">books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Student_books'%}">Borrowed books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'mylogout'%}">logout</a>
    </li>
    {% comment %} {% if request.session.is_admin == 1 %} {% endcomment %}
    <li class="nav-item">
        <a class="nav-link" href="{%url 'admindashboard'%}">Admin Dashboard</a>
    </li>
    {% comment %} {%endif%} {% endcomment %}
    {%else%}
    <li class="nav-item active">
    <a class="nav-link" href="{%url 'mylogin'%}">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'myRegister'%}">Register</a>
    </li>
{%endif%}
{%endblock%}

{%block content%}
<center>
    <form method="POST" class="layout_padding">
        {%csrf_token%}
        <label>User Name:</label>
        <input type="text" class="btn btn-outline-secondary" name="Username" />
        </br>
        </br>
        <label>Password:</label>
        <input type="password" class="btn btn-outline-secondary" name="Password" />
        <br>
        <br>
        <input type="submit" class="btn btn-outline-secondary" value="Login">
    </form>
</center>
{%endblock%}