{%extends 'index.html'%}

{%block nav-item%}
    <li class="nav-item">
        <a class="nav-link" href="{%url 'home'%}">Home</a>
    </li>
    {%if request.session.userid %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'myprofile'%}">profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'mybooks'%}">books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Student_books'%}">Borrowed books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'mylogout'%}">logout</a>
    </li>
    {% comment %} {% if request.session.is_admin == 1 %} {% endcomment %}
    <li class="nav-item">
        <a class="nav-link" href="{%url 'admindashboard'%}">Admin Dashboard</a>
    </li>
    {% comment %} {%endif%} {% endcomment %}
    {%else%}
    <a class="nav-link" href="{%url 'mylogin'%}">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'myRegister'%}">Register</a>
    </li>
{%endif%}
{%endblock%}

{%block content%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    {%if request.session.userid %}
    <div class="container text-center">
        <table border="1" width="100%">
            <tr>

                <th>Name</th>
                <th>account</th>
            </tr>
            {%for t in profile%}
            <tr>
                <td>{{t.username}}</td>
                <td>{{t.account}}</td>
                <td>
                    <a class="btn btn-outline-secondary" href="{%url 'Update_profile' t.id %}">Update</a>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
    {%endif%}
</body>

</html>


{%endblock%}
<!-- <center>

        {%if request.session.userid %}
        <p> {{request.session.userid}}</p>
        <p> {{request.session.username}}</p>
        <p> {{request.session.account}}</p>
        <a href="{%url 'Update_profile'%}" class="btn btn-outline-secondary">updateprofile</a>
        {%else%}
        <p>Login first</p>
        {%endif%}


    </center>